body {
  font-family: Arial, Geneva, Helvetica, sans-serif;
}
ul#suggestions {
  padding-left: 0;
}

ul#suggestions > span {
  display: -ms-inline-flex;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: inline-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

ul#suggestions li {
/*  display: inline-block;*/
  flex: 0 0 250px;
  -webkit-flex: 0 0 250px;
  vertical-align: top;
/*  overflow: wrap;*/
/*  width: 250px;*/
  margin: 8px;
  padding: 3px;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  border-color: lightgray;
}

.fadein-appear {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.fadein-appear.example-appear-active {
  opacity: 1;
}

.fadein-enter {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
}

.fadein-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fadein-leave.fadein-leave-active {
  opacity: 0.01;
}

ul li {
  list-style: none;
}

li.question {
  margin-top: 1em;
  font-weight: bold;
}

li.choice, li.chosen {
  padding-left: 1.3em ;
  cursor: pointer;
  margin: 0em 1em 1em 1em;
}

li.choice:before {
  content: '\f096';
  font-family: FontAwesome;
  font-size: 20px;
  display: inline;
  margin-left: -1.3em;
  margin-right: 0.3em;
  width: 1.3em;
}

li.chosen:before {
  content: '\f046';
  font-family: FontAwesome;
  font-size: 20px;
  display: inline;
  margin-left: -1.3em;
  width: 1.3em;
}

ul#suggestions li.my-post:hover > a.delete {
  visibility: visible;
}

a.delete {
  visibility: hidden;
}

.my-post {
  background-color: #AFC7B9;
}

#comment-box {
  resize: none;
  font-size: 1em;
  margin: 1em;
  padding: 1em;
  height: 3em;
/*  padding-left: 1.3em;*/
}

.scale {
  opacity: 0.5;
  font-size: 0.6em;
  margin-left: 1.8em;
}

.graph {
  display:block;
  margin-left: -1em;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

#suggestions-container {
  flex: 1 0 260px;
  -webkit-flex: 1 0 260px;
  transition: all 0.3s linear;
}

#survey-container {
  background-color: #FFFFF6;
  transition: all 0.3s linear;
  overflow: hidden;
}

.show-survey {
  flex-basis: 70%;
  -webkit-flex-basis: 70%;
}

.show-survey > h3 {
  overflow: hidden;
  white-space: nowrap;
}

.show-survey > h3:before {
  content: '\f191 \00a0';
  font-family: FontAwesome;
  font-size: 20px;
}

.hide-survey {
  flex-basis: 20px;
  -webkit-flex-basis: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.hide-survey > h3 {
  overflow: hidden;
  white-space: nowrap;
}

.hide-survey > h3:before {
  content: '\f152 \00a0';
  font-family: FontAwesome;
  font-size: 20px;
}

#survey-toggle {
/*  z-index: 20;*/
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* CSS styles for smartphones here */
  body {
    font-size: 15px;
  }
}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* CSS styles for tablets here */
}
